<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html data-ng-app="gurudwara">
    <head>
        <title>Gurbani</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" href="includes/jquery-mobile/jquery.mobile-1.4.5.min.css" />
        <link rel="stylesheet" href="css/theme.css" />
        <link rel="stylesheet" href="css/photo.css" />
        <script src="includes/jquery-1.9.1.min.js"></script>
        <script src="includes/jquery-mobile/jquery.mobile-1.4.5.min.js"></script>
        <script src="includes/angular.min.js"></script>
        <script src="js/photo.js"></script>
    </head>
    <body data-ng-controller="homeCTRL">
        <div id="home-page" data-role="page">
            <div data-role="header" class="ui-btn-active">
                <h1>PHOTOS</h1>
                <a id="header-right-btn" href="#" data-role="button" data-icon="back" class="ui-btn-right" data-rel="back">Back</a>
            </div>
            <div class="page-wrapper">
                <div class="page-container margin-auto clearfix">
                    <div class="photo-location">
                        {{guruToken}}
                    </div>
                    <div class="photo-grid clearfix">
                        <div data-ng-repeat="photo in photoArr" class="photo-grid-elt">
                            <div class="photo-grid-img" style="background-image: url('http://larva.co.in/gurudwara/gurudwara/{{photo.imgPath}}')">
                                <div data-ng-if="photo.isVideo == 1" data-ng-click="openVideo(photo.videoLink)" class="photo-video-link">
                                    <a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-video ui-btn-icon-notext">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button data-ng-click="getPhoto()" data-ng-if="rem > 0" class="ui-btn ui-mini">Load more ({{rem}})</button>
                </div>
            </div>
        </div>
    </body>
</html>
