.photo-grid-img {
    background-image: url('../img/guru/picture/guru-gobind.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.photo-grid {
    overflow: hidden;
}
.photo-grid-elt {
    width: 32.333%;
    display: inline-block;
    padding: .5%;
}
.page-container{
    /*max-width: 700px;*/
}

.photo-location{
    background-color: transparent;
    padding: 7px 20px;
    font-size: 1.5em;
    border: 2px solid #2DC3FF;
    margin: 20px 10px;
    color: #2DC3FF;
    font-weight: bold;
    letter-spacing: 1px;
}

.photo-video-link {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}
.photo-video-link .ui-btn {
    float: right;
    margin: 10px;
    border: none;
}