.page-container{
    max-width: 500px;
    margin: 0px auto;
    padding-top: 10px;
}

.update-container {
    margin: 10px;
    border: 1px solid #2DC3FF;
    border-radius: 3px;
    padding: 0px 15px 15px;
}

.update-container h3 {
    color: #2DC3FF;
}

.update-container p {
    text-transform: lowercase;
    line-height: 18px;
    text-align: justify;
}

.update-container .admin {
    text-align: right;
    color: #2DC3FF;
}

.update-container:first-child {
    margin-top: 0px;
}