.page-container{
    margin: 0px auto;
    padding-top: 10px;
}

.update-container {
    margin: 10px;
    border: 1px solid #2DC3FF;
    border-radius: 3px;
    padding: 0px 15px 15px;
}

.update-container h3 {
    color: #2DC3FF;
    font-size: 1.5em;
}

.update-container p {
    font-size: 1.3em;                  
    line-height: 23px;      text-shadow: none;      text-align: justify;      font-weight: 100;      text-transform: initial;
}

.update-container .admin {
    text-align: right;
    color: #2DC3FF;
    font-size: 1.3em;
}

.update-container:first-child {
    margin-top: 0px;
}